SECRET_KEY=6f9d2c8a4b1e7f3d9c5a0e2b8d4f1a6c3e7b9d0a5f2c8e1b4d7a9c6e3f1b8d2
ENCRYPTION_KEY=2a7f4c9e1d6b3a8c5e0f2d9b7c4a1e6f3d8c5b9a2e7f1c4d6b0a3e9f8c2d7a1
API_ENCRYPTION_KEY=9c3e7a1d5f2b8c4e6a0d9b3f7c1e8a2d5b6f4c9e1a7d3c8b0e2f6a9d4c7b1e

MONGODB_URI=mongodb+srv://mariyambloch3262_db_user:DdvJEdQspXQblmkw@cluster0.l92wqzp.mongodb.net/?appName=Cluster0
MONGODB_DB=heritage_hues

CORS_ORIGINS=https://heritagehues.net,https://dev.heritagehues.net,https://stage.heritagehues.net

ADMIN_REGISTRATION_ENABLED=false
SESSION_COOKIE_SECURE=true

UPI_ID=
UPI_PAYEE_NAME=Heritage Hues

ADMIN_API_TOKEN=hh_admin_7f3c9a1d5e2b8c4f6a0d9b3e7c1a2f8